
 .hc
{
  background-color: #1e293b !important;
  color: white !important;
}
mat-list-item
{
  color: white !important;
  font: bolder;
  font-size: larger;
}
mat-expansion-panel-header
{
  background-color: #1e293b !important;
  color: white !important;
  font: bolder;
  font-size: larger;
}
mat-expansion-panel
{
  background-color: #1e293b !important;
  color: white !important;

}
.dd {
  background-color: #1e293b !important;
  color: white !important;

}
mat-nav-list a
{

  color: white !important;
  font: bolder;
  font-size: larger;
}
.mdc-list-item:hover .mdc-list-item__primary-text {
  color: red;
}
