.inputwd
{
width: 50px;
}
input
{
width: 100px;
}
select
{
width: 100px;
}
.inputtx
{
  width: 400px;
}
.inputex
{
  width: 300px;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}
.sl {border:0;outline:0;}
.sl:focus {outline:none!important;}
textarea {border:0;outline:0;}
textarea:focus {outline:none!important;}
