.cart-summary-product-title{
  color: #FD5631;
  font-size: 12px;
  margin-bottom: 5px;
}

.category{
  font-weight: bold;
  font-size: 16px;
  color: #454056;
  margin-bottom: 5px;
}


.address{
  font-size: 14px;
  color: #9691A4;
  margin-bottom: 5px;
}


.dates{
  font-weight: bold;
  font-size: 16px;
  color: #666276;
  margin-bottom: 5px;
}
